<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <div>
        <%- include ('./partials/header.ejs') %>
        <div>
            <h1 class="genre-title"> Crime Movies</h1>
            <% for(let i = 0; i < movies.length; i++){ %>
                <% if(movies[i].genre === "Crime"){ %>
                    <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded container-fluid" style="max-width: 540px; max-height: 334px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <a href="/movies/<%=movies[i]._id%>/phoneshow"><img src="<%=movies[i].image%>" class="img-fluid rounded-start" alt="..."></a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title"><%=movies[i].title%></h5>
                              <p class="card-text"><%=movies[i].description%></p>
                              <h6><%=movies[i].director%></h6> 
                              <a href="/movies/<%=movies[i]._id%>/phoneshow"><button class="btn btn-outline-dark">Watch</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                <% } %>
            <% } %>
              
            
        </div>
    </div>
</body>
</html>