<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <div>
        <%- include ('./partials/header.ejs') %>
        <div class="container-md">
            <form action="/movies/<%=movies._id%>?_method=PUT" method="POST">
                <h3 class="h3-update">Did a streaming option change? <br><br> Update it Here</h3>
                <h4>Movie: <%=movies.title%></h4>
                <div class="col-md-3">
                    <label class="form-label">Stream</label>
                    <input type="text" class="form-control" name="stream" placeholder="<%=movies.stream%>">
                  </div>
                  <div class="col-md-3">
                    <label class="form-label">Stream</label>
                    <input type="text" class="form-control" name="streamTwo" placeholder="<%=movies.streamTwo%>">
                  </div>
                  <div class="col-md-3">
                    <label  class="form-label">Stream</label>
                    <input type="text" class="form-control" name="streamThree" placeholder="<%=movies.streamThree%>">
                  </div>
                  <div class="col-6">
                    <input type="submit" class="btn btn-outline-dark update-btn" value="Update">
                    
                  </div>
            </form>
        </div>
    </div>
</body>
</html>