<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
<body>
   <div>
        <%- include ('./partials/header.ejs') %>  
        <div>
            <p class="intro">
                ARE YOU A FILM ENTHUSIAST?<br><br>
                WE'VE GOT A LIST JUST FOR YOU. <br>
                SEE MOVIES BELOW... <br>
                
                    <a class="logo" aria-current="page" href="https://tv.apple.com/?ign-itscg=MC_20000&ign-itsct=atvp_brand_omd&mttn3pid=Google%20AdWords&mttnagencyid=a5e&mttncc=US&mttnsiteid=143238&mttnsubad=OUS2019801_1-566295249009-c&mttnsubkw=75222244984__idXQ476O_&mttnsubplmnt="><i class="fa-brands fa-apple"></i></a>
                  
                  
                      <a class="logo" aria-current="page" href="https://www.hbomax.com/?utm_id=sa%7c71700000067030777%7c58700006926526610%7cp62287911530&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr-JYg3wburmx0GC4RkDorfxvIpkex6AF9F_QGxZXu8Svoz1kpIG_6UaAp7UEALw_wcB&gclsrc=aw.ds"><img src="/images/hbo.png"></a>
                  
                 
                      <a class="logo" aria-current="page" href="https://www.netflix.com/"><img src="/images/netflix.png"></a>
                  
                  
                      <a class="logo" aria-current="page" href="https://www.hulu.com/welcome?orig_referrer=https%3A%2F%2Fwww.google.com%2F"><img src="images/hulu.png" alt="Hulu"></a>
                 
                      <a class="logo" aria-current="page" href="https://www.paramountplus.com/?gclsrc=aw.ds&ds_rl=1289065&ref=__iv_p_1_g_121359828400_w_aud-390522681029:kwd-1212634995761_h_9028301_ii__d_c_v__n_g_c_524115013420_l__t__e__r__vi__&ftag=PPM-02-10aeg8j&vndid=google$null$null$paramount%20%2B%20sign%20up&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr-RW7QnTA6cqAt3MwoRu8TuLte6G9Wh1uyIoeifr7ueg1yV2EtBMQkaAgFlEALw_wcB&gclsrc=aw.ds&_ivgu=3f4934d8-09ce-475d-ada4-c8a7f2113b36"><img class="paramount" src="/images/paramount.png"></a>
                 
                      <a class="logo" aria-current="page" href="https://www.vudu.com/content/browse/marketing/watch-movies?cid=SEMGoogle5787349473&scid=207983839&kwid=13645845799&gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr90CHLdRghPiioROpy20bpRVnOvKATHF7jO52A-Gb9uguALgHk9eq8aAvrEEALw_wcB"><img class="vudu" src="/images/vudu.png" alt="VUDU"></a>
                 
                      <a class="logo" aria-current="page" href="https://www.starz.com/us/en/buy?gclid=Cj0KCQjw3eeXBhD7ARIsAHjssr9Fzn0abhRUSCml42hF0A8S1r1m--2Eny71eb89DXxbN7yV5LTZaFkaAr7qEALw_wcB&gclsrc=aw.ds&utm_campaign=8545672057_593569764192_kwd-310603070156&utm_source=google"><img class="starz" src="images/starz.png" alt="starz"></a>
                  
                      <a class="logo" aria-current="page" href="https://www.amazon.com/hp/video/offers/intercept/ref=atv_hm_hom_redirect?_encoding=UTF8&dvah=intercept&node=2858778011"><img class="amazon" src="images/amazon.png" alt="amazon"></a>
                  
            </p>
            
        </div>
        <% for(let i = 0; i < movies.length; i ++){ %>
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded container-xs" style="max-width: 540px; max-height: 334px;">
            <div class="row g-0">
              <div class="col-md-4">
                <a href="/movies/<%=movies[i]._id%>/phoneshow"><img src="<%=movies[i].image%>" class="img-fluid rounded-start" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%=movies[i].title%></h5>
                  <p class="card-text"><%=movies[i].description%></p>
                  <h6><%=movies[i].director%></h6> 
                  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                    <a href="/movies/<%=movies[i]._id%>"><button class="btn btn-outline-dark">Watch</button></a>
                    <a href="/movies/<%=movies[i]._id%>/edit"><button class="btn btn-outline-dark">Edit</button></a>
                    <form action="/movies/<%=movies[i]._id%>?_method=DELETE" method="POST">
                        <a><button class="btn btn-outline-dark">Watched</button></a>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
   </div>
</body>
</html>


